<div class="container">
  <div class="row mb-4">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <h2 style="text-align:center">Update Product</h2>
      <div class="form-group">
        <label for="productSelect">Select Product to Update</label>
        <select id="productSelect" class="form-control" (change)="onProductSelect($event)">
          <option value="">-- Select a product --</option>
          <option *ngFor="let product of products" [value]="product.productId">{{product.name}}</option>
        </select>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>

  <form *ngIf="selectedProduct" #updateProductForm="ngForm" (ngSubmit)="submitUpdateProductForm(updateProductForm)" style="background-color:beige;">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <h6 style="text-align:right;color:dimgrey;font-size:small">All fields are mandatory</h6>

        <div class="form-group">
          <div class="col" style="text-align:left">
            <label>Product Name</label>
          </div>
          <div class="col; input-group">
            <input type="text" name="name" #nameRef="ngModel" class="form-control" [ngModel]="selectedProduct.name" required>
          </div>
          <div *ngIf="nameRef.errors && (nameRef.dirty || nameRef.touched)" style="text-align:left; padding-top:5px; color:red;">
            <div [hidden]="!nameRef?.errors?.['required']">
              <p>&nbsp;Product name is mandatory</p>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="col" style="text-align:left">
            <label>Description</label>
          </div>
          <div class="col; input-group">
            <textarea name="description" #descRef="ngModel" class="form-control" [ngModel]="selectedProduct.description" required></textarea>
          </div>
          <div *ngIf="descRef.errors && (descRef.dirty || descRef.touched)" style="text-align:left; padding-top:5px; color:red;">
            <div [hidden]="!descRef?.errors?.['required']">
              <p>&nbsp;Description is mandatory</p>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="col" style="text-align:left">
            <label>Price</label>
          </div>
          <div class="col; input-group">
            <input type="number" name="price" #priceRef="ngModel" class="form-control" [ngModel]="selectedProduct.price" required min="1">
          </div>
          <div *ngIf="priceRef.errors && (priceRef.dirty || priceRef.touched)" style="text-align:left; padding-top:5px; color:red;">
            <div [hidden]="!priceRef?.errors?.['required']">
              <p>&nbsp;Price is mandatory</p>
            </div>
            <div [hidden]="!priceRef?.errors?.['min']">
              <p>&nbsp;Price must be greater than 0</p>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="col" style="text-align:left">
            <label>Category</label>
          </div>
          <div class="col; input-group">
            <select name="categoryId" #categoryRef="ngModel" class="form-control" [ngModel]="selectedProduct.categoryId" required>
              <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
            </select>
          </div>
          <div *ngIf="categoryRef.errors && (categoryRef.dirty || categoryRef.touched)" style="text-align:left; padding-top:5px; color:red;">
            <div [hidden]="!categoryRef?.errors?.['required']">
              <p>&nbsp;Category is mandatory</p>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="col" style="text-align:left">
            <label>Model URL</label>
          </div>
          <div class="col; input-group">
            <input type="text" name="modelUrl" #modelUrlRef="ngModel" class="form-control" [ngModel]="selectedProduct.modelUrl" required>
          </div>
          <div *ngIf="modelUrlRef.errors && (modelUrlRef.dirty || modelUrlRef.touched)" style="text-align:left; padding-top:5px; color:red;">
            <div [hidden]="!modelUrlRef?.errors?.['required']">
              <p>&nbsp;Model URL is mandatory</p>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="col" style="text-align:left">
            <label>Thumbnail URL</label>
          </div>
          <div class="col; input-group">
            <input type="text" name="thumbnailUrl" #thumbnailUrlRef="ngModel" class="form-control" [ngModel]="selectedProduct.thumbnailUrl" required>
          </div>
          <div *ngIf="thumbnailUrlRef.errors && (thumbnailUrlRef.dirty || thumbnailUrlRef.touched)" style="text-align:left; padding-top:5px; color:red;">
            <div [hidden]="!thumbnailUrlRef?.errors?.['required']">
              <p>&nbsp;Thumbnail URL is mandatory</p>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="col" style="text-align:left">
            <label>Quantity</label>
          </div>
          <div class="col; input-group">
            <input type="number" name="quantity" #quantityRef="ngModel" class="form-control" [ngModel]="selectedProduct.quantity" required min="1">
          </div>
          <div *ngIf="quantityRef.errors && (quantityRef.dirty || quantityRef.touched)" style="text-align:left; padding-top:5px; color:red;">
            <div [hidden]="!quantityRef?.errors?.['required']">
              <p>&nbsp;Quantity is mandatory</p>
            </div>
            <div [hidden]="!quantityRef?.errors?.['min']">
              <p>&nbsp;Quantity must be greater than 0</p>
            </div>
          </div>
        </div>

        <div class="form-group" style="text-align:left">
          <button type="submit" [disabled]="!updateProductForm.form.valid" class="btn">Update Product</button>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
    <div *ngIf="showDiv" style="color:red;text-align:center;">
      <br />
      {{status}}
    </div>
  </form>
</div>
